<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />

<title>Chating</title>
</head>

<script type="text/javascript" th:inline="javascript">

	var ws;
	

	function wsOpen(){	//웹소켓 전송시 현재 방의 번호를 넘겨서 보냄
		ws = new WebSocket("ws://" + location.host + "/chating/" + $("#userRoomNumber").val());
		console.log("소켓 연결");
		wsEvt();
	}
		
	function wsEvt() {
		ws.onopen = function(data){
			var nickName = [[${nickName}]]; 
			console.log(nickName + "님이 입장하셨습니다.");
		}
		
		ws.onmessage = function(data) {
			//메시지를 받으면 동작
			var msg = data.data;
			var top = $("#chating").prop("scrollHeight");
			if(msg != null && msg.trim() != ''){
				var d = JSON.parse(msg);
				if(d.type == "getId"){
					var si = d.sessionId != null ? d.sessionId : "";
					if(si != ''){
						$("#sessionId").val(si); 
					}
				}else if(d.type == "message"){
					if(d.sessionId == $("#sessionId").val()){
						$("#chating").append("<p class='me'>나 :" + d.msg + "</p>");
					}else{
						$("#chating").append("<p class='others'>" + d.userName + " :" + d.msg + "</p>");
					}
					$("#chating").scrollTop(top);
				}else{
					console.warn("unknown type!")
				}
			}
		}

		document.addEventListener("keypress", function(e){
			if(e.keyCode == 13){ //enter press
				send();
			}
		});
	}

	function chatName(){
		var userName = $("#userName").val();
		if(userName == null || userName.trim() == ""){
			alert("사용자 이름을 입력해주세요.");
			$("#userName").focus();
		}else{
			wsOpen();
			$("#yourName").hide();
			$("#yourMsg").show();
		}
	}

	function wsIn() {
		wsOpen();
		$(".wsOpen").hide();
		$(".type_msg").show();
	}
	
	function send() {
		console.log("전송 버튼");
		var option ={
			type: "message",
			userRoomNumber: $("#userRoomNumber").val(),
			sessionId : $("#sessionId").val(),
			/* userName : $("#userName").val(), */
			msg : $(".write_msg").val()
		}
		ws.send(JSON.stringify(option))
		$('.write_msg').val("");
	}
	
	function out(){
		
	}

</script>
 
 
<body>
<div class="container">
<h3 class=" text-center" th:text="${roomName}"></h3>
<input type="hidden" id="sessionId" value="">
<input type="hidden" id="userRoomNumber" th:value="${userRoomNumber}">
<div class="messaging">
  <div class="inbox_msg">
    
    <div class="mesgs">
      <div class="chating" id="chating" style="overflow:auto">

      </div>
      <div class="wsOpen">
      	<div class="input_msg_write">
      		<button class="wsOpenBtn" onclick="wsIn()">대화 시작하기</button>
      	</div>
      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <input type="text" class="write_msg" placeholder="Type a message" />
          <button class="msg_send_btn" type="button" onclick="send()">
          	<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <p class="text-center top_spac"> Design by <a target="_blank" href="https://www.linkedin.com/in/sunil-rajput-nattho-singh/">Sunil Rajput</a></p>
  
</div></div>
</body>
 
 

</html>